h2{
    text-align: center;
    margin-top: -120px;
    color: green;
}
.intro{
    text-align: center;
}
p{
    text-align: center;
    margin: 30px;
    font-size: 24px;
}
.about{
    background-image: url("images/ghaannn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    opacity: 3.0;
}

.container{
    text-align: center;
    background-color: green;
    height: 500px;
   margin-top: -50px;
}
.container img{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.forms p{
    margin-left: 300px;
}
.table{
    float: right;
    font-size: 24px;
    margin-right: 20px;
    margin-top: -380px;
    background-color: white;
    height: 140;

}
#male-input{
    margin-left:50px;
}
#female-input{
    margin-left:40px;
}
#name-input{
    margin-left:30px;
}
    
.footer{
    background-color: yellow;
    margin-top: -20px;
    height: 50;
    padding: 1rem;
    text-align: center;
}



    

